# .NET Core
bin/
obj/
out/
[Bb]uild/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Environment
appsettings.Development.json
output.log
output2.log
output3.log
build_err.log

# User specific
.idea/
.vscode/

# Python
__pycache__/
*.pyc

# Local Database
*.mdf
*.ldf

# Local Tools
Cinema.API/seed.ps1
seed_data.py
